body,html{height:100%;width:100%;-webkit-font-smoothing:antialiased;}
.no-hover:hover {
	background:transparent!important;
}
a.button-collapse.top-nav.full {
  line-height: 122px;
}
@media only screen and (max-width: 992px){
	a.button-collapse.top-nav.full {
	  left: 5%;
    top: -25px;
	}
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 32px;
  width: 32px;
  left: 7.5%;
  top: 11px;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;

  & i {
  	line-height: 0px;
  }
}
nav.top-nav a.page-title {
  line-height: 64px;
  font-size: 30px;
}
@media only screen and (max-width: 992px){
	nav .nav-wrapper {
	  text-align: center;
	}
	nav .nav-wrapper a.page-title {
	  font-size: 27px;
	}
}
main {
	padding-left: 240px;
	height:100%;
}
@media only screen and (max-width: 992px){
  main {
    padding-left: 0;
  }
}
iframe#proposal {
	border: 0;
	width: 100%;
	margin: auto;
	display:block;
  -webkit-transform-origin: 0 0;
}