<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<title>Untitled Document</title>

<link href="coupon_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="coupon_wrap">
  <div class="coupon_top">
    <div class="coupon_icon"><img src="images/coupon_icon.jpg" width="146" height="146" /></div>
    <div class="coupon_title">Get a Free Drink at the Peacock {coupon_title}</div>
  </div>
  <div class="coupon_description">Share this to get a free drink at the Peacock<br />
{coupon description}</div>
  <div class="percent_off">Content for  class "percent_off" Goes Here</div>
  <div class="buttons_email">
    <div class="button_title">To claim coupon please provide your email</div>
     <form action="" method="get"><input id="email"name="email" type="text" /><input name="submit" type="submit" value="SUBMIT" id="submit"/></form>
    </div>
    

</div>
</body>
</html>
