<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="admin_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="logo"><img src="images/LOGO.png" width="960" height="75" /></div>
<div class="wrapper">
  <div class="page_left"><form action="" method="get" enctype="multipart/form-data">
    <p>business name<br />
      
      <select name="BUSINESS_NAME" id="BUSINESS_NAME">
        <option value="The Peacock Lounge">The Peacock Lounge</option>
      </select>
      <br />
      </p>
    <p>campaign name<br />
  <input name="campaign name" type="text" maxlength="100" />
  <br />
      </p>
    <p>coupon title<br />
      <input name="coupon_title" type="text" maxlength="100" /> <br />
     </p>
    <p>Offer Discount<br />
  <input name="discount" type="text" maxlength="100" /><br />
      </p>
    <p>valid days<br />
  <input name="valid days" type="text" class="radio" maxlength="3"/>
  <br />
  coupon description<br />
  <label for="textarea"></label>
  <textarea name="textarea" id="textarea" cols="20" rows="3"></textarea>
  <br />
      </p><br />

    <p>type<br />
      <br />
    </p>
    <input type="checkbox" name="FB SHARE" id="FB SHARE" class="check" />
    <label for="FB SHARE"></label>
FACEBOOK SHARE<br />
<input type="checkbox" name="EMAIL SHARE" id="EMAIL SHARE"  class="check"/>
EMAIL SHARE <br />
<input type="checkbox" name="INDIVIDUAL EMAIL" id="INDIVIDUAL EMAIL"  class="check"/>
INDIVIDUAL EMAIL <br />
      <br />
      </p>
    <p>nUMBER OF COUPONS<br />
      <label for="NUMBER OF COUPONS"></label>
      <input name="NUMBER OF COUPONS" type="text" id="NUMBER OF COUPONS" size="7" maxlength="7" />
      <br />
      <label for="upload">Choose you facebook icon</label>
      <input type="file" name="upload" id="upload" />
    </p>
    <br />
<input name="ADD" type="submit" id="ADD" value="ADD" />
  </form></div>
<div class="page_right"><iframe class="iframe_border" src="table2.html" width="700" height="700" scrolling="auto" frameborder="0"></iframe></div>
<div class="table_holder" align="right"></div>
<div class="shadow"><img src="images/shadow.png" width="943" height="87" /></div>
</div>
</body>
</html>
