# git will not add or show in status.

*.swp
*.swo
.DS_Store
*.*~
*.orig
.sass-cache
.idea
robots.txt
composer.phar
config.php
codeception.yml
angular/build/*
angular/src/tmp/*
assets/ad_link_3000/uploads/files/*
assets/ad_link_3000/uploads/thumbnails/*
assets/ad_link_3000/uploads/*/.htaccess
assets/creative_upload/*
assets/exports/*
assets/img/uploads/*
assets/json/tv/network_json/*
assets/proposal_pdf/*
assets/templates/welcome_emails/*
autoscript/*
custom_previews/*
libraries/external/aws-sdk-php-2.6.1/vendor
libraries/external/aws-sdk-php-2.6.1/composer.phar
misc_external/rss_ad/vendor/
misc_external/rss_ad/composer.phar
node_modules
assets/vendor
vendor
tests/_bootstrap.env.php
tests/_output/*
tests/**/*Tester.php
tickets/*
typings/**
uploads/*
!.gitkeep
*.log
*.tmp
misc_external/dataload/google_adwords_daily/GG/gg_log.txt
/nbproject/*

#previously -- 
#/build
build/api
build/logs
build/pdepend
build/phpdox
