<div class="geo_location_inner_menu grey lighten-2">
    <div id="search_container_div" class="row">
        <form>
            <div class="input-field">
                <input id="search_location_list" type="text" required>
                <label for="search_location_list">Search</label>
            </div>
        </form>
    </div>
    <a (click)="addLocation.emit()" class="btn green tooltipped" data-tooltip="Add single location" data-position="bottom" id="geo_add_single_location">
        <i class="material-icons">&#xE145;</i>
    </a>
    <a materialize="leanModal" [materializeParams]="[{dismissible: true}]" id="geo_add_bulk_locations" class="btn modal-trigger grey tooltipped" data-tooltip="Bulk Upload Locations" data-position="bottom" data-target="#bulk_locations_upload_modal" href="#bulk_locations_upload_modal">
        <i class="material-icons">&#xE8B8;</i>
    </a>
</div>

<div style="margin:0px -1px;margin-top:-8px;">
    <ul id="geo_location_dropdown" class="collection">
        <li *ngFor="let location of locations; let i = index;" class="collection-item multi_location_collection_item" [ngClass]="{selected_geo_location: location.selected}" (click)="selectLocation.emit(i)">
            <div class="">
                <input type="text" class="rename_location" id="location_{{i}}_name" placeholder="Location Name" [ngClass]="{empty: location.user_supplied_name.length === 0, editable: location?.editable}" [(ngModel)]="location.user_supplied_name" (blur)="blurLocationName(i)" (change)="saveLocationName(i)"/>
                <a class="edit_location" *ngIf="location.editable !== true" (click)="locationNameEditable(i, $event)"><i class="material-icons">mode_edit</i></a>
                <a class="edit_geofencing" *ngIf="hasGeofencing && location.total > 0" materialize="leanModal" [materializeParams]="[{dismissible: false}]" href="#add_geofencing_modal_{{i}}"><img src="/assets/img/geofence_icon.svg"/> {{location.geofences.length}}</a>
                <a class="secondary-content" (click)="removeLocation.emit(i)" *ngIf="locations.length > 1"><i class="material-icons"></i></a>
            </div>
        </li>
    </ul>
</div>