<div class="mpq_section_card card scrollspy">
    <h4 class="card-title grey-text text-darken-1 bold">
        <i class="material-icons component-error" *ngIf="!validationStatus">error</i>Interests
        <span *ngFor="let productName of productNames; let i = index; let last = last; let first = first"
              style="font-weight:normal;font-size:1rem;">
		    <span *ngIf="first" style="display:inline-block; margin-left: 5%;"></span>
		    {{productName}}<span *ngIf="!last">, </span>
	    </span>
    </h4>
    <div class="card-content">
        <div>
            <input type="text" id="audience_interests" name="audience interests" #interests
                   [propertiesObj]="interestsObj"
                   mySelect2 class="grey-text text-darken-1" length="255">
        </div>
    </div>
</div>